NODE_ENV=development
#TM_URL=https://tasking-manager-url
#TM_HASHTAG=tasking-manager-prefix
#OSMESA_API=https://link-to-osmesa-api
#FILTERED_USERS='0,1,2'
#APP_URL=http://localhost:8181
OSM_CONSUMER_KEY=your-oauth-key
OSM_CONSUMER_SECRET=your-oauth-secre
SESSION_SECRET=super-secret-sessions
DATABASE_URL=postgres://scoreboard:test@localhost:5433/scoreboard