/* ==========================================================================
   CAMPAIGNS & CAMPAIGN PAGES
   ========================================================================== */

.Campaigns {
  .text-body {
    margin-bottom: 1rem;
    
    p {
      width: 100%;
    }
    hr {
      visibility: hidden;
    }
    a, a:visited {
      color: $blue-color;
    }
    li {
      margin-bottom: .5em;
    }
    ul {
      margin: .7em 0 1em;
      li {
        list-style-type: circle;
        margin-left: 3em;
      }
    }
  }

  .header--page .widget-container {
    margin-bottom: 1em;
    @include media(medium-up) {
      align-items: flex-end;
    }
    .widget-33{
      display: flex;
      margin-top: 1em;
      @include media(medium-only) {
        flex-direction: column;
        text-align: center;
        .button {
          width: 100%;
          text-align: center;
          margin-left: 0;
          margin-bottom: 1em;
        }
      }
      @include media(medium-up) {
        text-align: right;
        justify-content: flex-end;
        align-items: center;
      }
    }
  }
}
