[Unit]
Description=Scoreboard update process
After=network.timer

[Service]
Type=simple
ExecStart=/usr/bin/npm run clocks
WorkingDirectory=/var/www/scoreboard/api

User=centos
Group=centos

EnvironmentFile=-/var/scoreboard-data/.env

StandardInput=null
StandardOutput=syslog
StandardError=syslog