<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" class="next-head">
    <link href="https://api.tiles.mapbox.com/mapbox-gl-js/v0.45.0/mapbox-gl.css" rel="stylesheet" class="next-head">
    <link rel="preload" href="http://localhost:8181/_next/static/development/pages/index.js" as="script">
    <link rel="preload" href="http://localhost:8181/_next/static/development/pages/_app.js" as="script">
    <link rel="preload" href="http://localhost:8181/_next/static/development/pages/_error.js" as="script">
    <link rel="preload" href="http://localhost:8181/_next/static/runtime/webpack.js" as="script">
    <link rel="preload" href="http://localhost:8181/_next/static/runtime/main.js" as="script">
    <link rel="preload" href="http://localhost:8181/_next/static/chunks/styles.js" as="script">
    <link rel="stylesheet" href="http://localhost:8181/_next/static/css/styles.chunk.css">
    <script charset="utf-8" src="http://localhost:8181/_next/static/chunks/0.js"></script>
    <script charset="utf-8" src="http://localhost:8181/_next/static/chunks/2.js"></script>
  </head>
  <body>
    <footer>
      <div class="row">
        <nav>
          <ul class='nav--footer'>
            <li class='logo'><Link href='/'><a>ScoreBoard</a></Link></li>
            <li><NavLink href='/campaigns'>Campaigns</NavLink></li>
            <li><NavLink href='/users'>Users</NavLink></li>
            <li><NavLink href='/teams'>Teams</NavLink></li>
            <li><NavLink href='/countries'>Countries</NavLink></li>
            <li><NavLink href='/about'>About</NavLink></li>
          </ul>
        </nav>
        <div>
          <a href="https://www.openstreetmap.org"><img src="../website/static/img/osm_logo.svg" alt="OpenStreetMap Logo" class="footer__logo"><br>
          </a>
        </div>
        <div>
          &copy; 2018 All Rights Reserved<br>
          <a href="/terms" class="link--normal">Terms</a>
        </div>
      </div>
    </footer>
  </body>
</html>
