<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" class="next-head">
    <link href="https://api.tiles.mapbox.com/mapbox-gl-js/v0.45.0/mapbox-gl.css" rel="stylesheet" class="next-head">
    <link rel="preload" href="http://localhost:8181/_next/static/development/pages/index.js" as="script">
    <link rel="preload" href="http://localhost:8181/_next/static/development/pages/_app.js" as="script">
    <link rel="preload" href="http://localhost:8181/_next/static/development/pages/_error.js" as="script">
    <link rel="preload" href="http://localhost:8181/_next/static/runtime/webpack.js" as="script">
    <link rel="preload" href="http://localhost:8181/_next/static/runtime/main.js" as="script">
    <link rel="preload" href="http://localhost:8181/_next/static/chunks/styles.js" as="script">
    <link rel="stylesheet" href="http://localhost:8181/_next/static/css/styles.chunk.css">
    <script charset="utf-8" src="http://localhost:8181/_next/static/chunks/0.js"></script>
    <script charset="utf-8" src="http://localhost:8181/_next/static/chunks/2.js"></script>
  </head>
  <body>
    <div class="banner banner__signup">
      <div class="row">
        <div class="banner--content">
          <h2 class="header--xlarge">Earn a spot on the board</h2>
          <p>Join other mappers and track your progress. Earn badges for edits you’ve made and campaigns you've helped complete. Share your contributions to the global mapping ecosystem.</p>
          <a href="#" class="link--large">Sign up with OpenStreetMap</a>
        </div>
      </div>
    </div>
  </body>
</html>
