/* ==========================================================================
   MAPS
========================================================================== */

.leaflet-container {
  z-index: 1;
  height: 100%;
  background: rgb(222,234,238);
}
.home-map {
  width: 100%;
  height: 375px;
  margin-bottom: 40px;
 }

.map-campaign-sm {
  margin-left: 0;
  height: 140px;
  @include media(medium-down) {
    height: 110px;
  }
 }

.map-lg {
  height: 400px;
 }
