/* Colors
   ========================================================================== */
/* Typography
   ========================================================================== */
@font-face {
  font-family: 'CrimsonText-reg';
  src: url("fonts/CrimsonText-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'CrimsonText-semi';
  src: url("fonts/CrimsonText-SemiBold.ttf") format("truetype"); }

@font-face {
  font-family: 'CrimsonText-bold';
  src: url("fonts/CrimsonText-Bold.ttf") format("truetype"); }

@font-face {
  font-family: 'Heebo-light';
  src: url("fonts/Heebo-Light.ttf") format("truetype"); }

@font-face {
  font-family: 'Heebo-reg';
  src: url("fonts/Heebo-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'Heebo-bold';
  src: url("fonts/Heebo-Bold.ttf") format("truetype"); }

@font-face {
  font-family: 'Abel';
  src: url("fonts/Abel-Regular.ttf") format("truetype"); }

/* Rows */
/* Media queries */
/* ==========================================================================
   Functions
   ========================================================================== */
/* Range function
   ========================================================================== */
/**
 * Define ranges for various things, like media queries.
 */
/* ==========================================================================
   Media queries
   ========================================================================== */
.header--admin a {
  color: white; }

.header--admin a:hover {
  color: rgba(255, 255, 255, 0.8); }

.list-grid li {
  display: inline-block;
  width: 20%; }
  .list-grid li a {
    padding: 20px;
    display: block;
    margin-right: 4%;
    border-radius: 2px; }
  .list-grid li a:hover {
    background-color: #fafafc; }

.admin-sidebar-links li {
  line-height: 2.5; }

.admin-user-table {
  border-spacing: 0px; }

.admin-user-table-row {
  cursor: pointer; }

.admin-user-table-row:hover {
  background-color: #fafafc; }
