/* Colors
   ========================================================================== */
/* Typography
   ========================================================================== */
@font-face {
  font-family: 'CrimsonText-reg';
  src: url("fonts/CrimsonText-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'CrimsonText-semi';
  src: url("fonts/CrimsonText-SemiBold.ttf") format("truetype"); }

@font-face {
  font-family: 'CrimsonText-bold';
  src: url("fonts/CrimsonText-Bold.ttf") format("truetype"); }

@font-face {
  font-family: 'Heebo-light';
  src: url("fonts/Heebo-Light.ttf") format("truetype"); }

@font-face {
  font-family: 'Heebo-reg';
  src: url("fonts/Heebo-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'Heebo-bold';
  src: url("fonts/Heebo-Bold.ttf") format("truetype"); }

@font-face {
  font-family: 'Abel';
  src: url("fonts/Abel-Regular.ttf") format("truetype"); }

/* Rows */
/* Media queries */
/* ==========================================================================
   Functions
   ========================================================================== */
/* Range function
   ========================================================================== */
/**
 * Define ranges for various things, like media queries.
 */
/* ==========================================================================
   Media queries
   ========================================================================== */
.header-nav {
  background-color: #4FCA9E;
  position: relative;
  z-index: 5; }

nav li {
  display: block;
  margin-top: 1.4em;
  font-family: "Abel", "Helvetica Neue", Helvetica, Arial, sans-serif;
  float: left; }
  nav li .active a {
    padding-bottom: .8em;
    border-bottom: 2px solid rgba(255, 255, 255, 0.4); }
  nav li button {
    background: none;
    border: 0;
    padding: 0 .5em 1.4em;
    color: #fff;
    font-size: 14px;
    font-family: "Abel", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: left; }

nav .nav--left {
  float: left; }
  nav .nav--left li {
    margin-right: 1.6em; }
    nav .nav--left li:first-of-type {
      margin-right: .5em; }
    @media all and (max-width: 799px) {
      nav .nav--left li {
        margin-right: 1.2em; }
        nav .nav--left li:first-of-type {
          margin-right: 1em; } }
  nav .nav--left .logo {
    font-size: 1.8em;
    margin-top: .8em;
    padding-bottom: .7em; }
    nav .nav--left .logo a:hover {
      border-bottom: 0; }
  nav .nav--left li a {
    color: #fff;
    transition: all 0.2s ease 0s;
    border-bottom: 2px solid rgba(255, 255, 255, 0);
    padding: 0 .5em 1.4em; }
  nav .nav--left li a:hover {
    border-bottom: 2px solid rgba(255, 255, 255, 0.8);
    padding-bottom: .8em; }

nav .nav--right {
  float: right;
  position: relative; }
  nav .nav--right .nav--icons {
    float: right;
    margin-left: 1em;
    margin-top: .4em; }
    nav .nav--right .nav--icons:first-of-type {
      margin-top: .9em; }
  nav .nav--right li {
    border: 0; }
    nav .nav--right li img {
      transition: all 0.2s ease 0s; }
    nav .nav--right li img:hover {
      opacity: 0.7; }
  nav .nav--right li a:hover img {
    opacity: 0.7; }

.login-menu {
  position: absolute;
  background-color: #fff;
  top: 4em;
  right: 0em;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(60, 60, 60, 0.2); }
  .login-menu a, .login-menu a:visited, .login-menu button, .login-menu button:visited {
    color: #595757;
    display: block;
    padding: .8em 1em;
    min-width: 180px;
    border-bottom: 0;
    transition: all 0.2s ease 0s; }
  .login-menu a, .login-menu a:visited {
    background-color: #F7F7F7; }
    .login-menu a:hover, .login-menu a:visited:hover {
      border-bottom: 0;
      background-color: #f2f2f2;
      padding: .8em 1em; }
  .login-menu button, .login-menu button:visited {
    border-top: 1px solid #efefef;
    padding: 1em 1em;
    width: 208px; }
    .login-menu button:hover, .login-menu button:visited:hover {
      border-bottom: 0;
      background-color: #f2f2f2;
      -webkit-border-radius: 0 0 4px 4px;
      -moz-border-radius: 0 0 4px 4px;
      border-radius: 0 0 4px 4px; }
  .login-menu li {
    float: none;
    margin-top: 0;
    width: 100%; }
    .login-menu li:first-of-type a {
      -webkit-border-radius: 4px 4px 0 0;
      -moz-border-radius: 4px 4px 0 0;
      border-radius: 4px 4px 0 0; }
  .login-menu ul {
    min-width: 180px; }
  .login-menu .active a {
    border-bottom: 0; }

.block--campaign {
  width: 45%;
  float: left;
  margin-bottom: 5.8em; }
  .block--campaign:nth-of-type(odd) {
    margin-right: 7%; }
  @media all and (max-width: 799px) {
    .block--campaign {
      width: 100%; } }
  .block--campaign p {
    min-height: 69px; }

.section-sub--right--home {
  width: 22%;
  margin-left: 12%;
  border-left: 1px solid rgba(255, 255, 255, 0.5); }
  @media all and (max-width: 799px) {
    .section-sub--right--home {
      border-top: 1px solid #fff;
      border-left: 0;
      width: 100%;
      margin-top: 4em;
      padding-top: 4em;
      margin-left: 0; } }

.header--homepage .num--large {
  font-size: 4.25em;
  line-height: 54px;
  font-family: "Heebo-bold", "Helvetica Neue", Helvetica, Arial, sans-serif; }
  @media all and (max-width: 799px) {
    .header--homepage .num--large {
      font-size: 3.5em;
      line-height: 48px; } }

.header--homepage .list--block {
  margin-top: 1em; }

.chart-bar--main li {
  margin-bottom: .2em; }

.chart-bar--title {
  width: 12%;
  float: left;
  margin-right: .5em;
  font-family: "Abel", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: .86em; }

.chart-bar--wrapper {
  position: relative;
  display: inline-block;
  background-color: #FBFBFB;
  width: 70%;
  height: 8px; }

.chart-bar {
  display: inline-block;
  position: absolute;
  background-color: #8BC544;
  height: 8px;
  margin-right: .5em; }

.chart-bar--percent {
  font-family: "Abel", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #97cb57;
  font-size: .86em;
  position: absolute;
  right: 0;
  top: -.5em; }

.img-about1 {
  max-width: 750px;
  width: 65%; }
  @media all and (max-width: 799px) {
    .img-about1 {
      width: 100%; } }

.img-about2 {
  max-width: 700px;
  margin-right: 5em;
  width: 60%; }
  @media all and (max-width: 799px) {
    .img-about2 {
      width: 100%; } }

.users--country .list--block--sm:first-of-type a {
  color: #282970; }

.users--country .list--block--sm:nth-of-type(2) a {
  color: #363796; }

.users--country .list--block--sm:nth-of-type(3) a {
  color: #5657C2; }

.users--country .list--block--sm:nth-of-type(4) a {
  color: #7b7cd0; }

.users--country .list--block--sm:nth-of-type(5) a {
  color: #999ada; }
