@import 'settings/variables.scss';
@import 'settings/mixins.scss';

.header-nav {
  background-color: $base-color;
  position: relative;
  z-index: 5;
  box-shadow: 0 4px 26px rgba(0,0,0,.3)
}

nav {
  li {
    display: block;
    margin-top: 1.4em;
    font-family: $tertiary-font-family;
    float: left;
    text-transform: uppercase;
    letter-spacing: 2px;
    button {
      background: none;
      border: 0;
      padding: 0 .5em 1.4em;
      color: #fff;
      font-size: 14px;
      font-family: $tertiary-font-family;
      text-align: left;
    }
  }

  .nav--left {
    float: left;
    li {
      margin-right: 1.6em;
      &:first-of-type {
        margin-right: .5em;
      }
      @include media(small-down) {
        margin-right: 1.2em;
        &:first-of-type {
          margin-right: 1em;
        }
      }
    }
    .logo {
      font-size: 1.8em;
      margin-top: .8em;
      padding-bottom: .7em;
      a:hover {
        border-bottom: 0;
      }
    }
    li a {
      color: #fff;
      transition: all 0.2s ease 0s;
      border-bottom: 2px solid rgba(255,255,255,0);
      padding: 0 .5em 1.4em;
    }

    li a:hover,
    li a.active {
      border-bottom: 2px solid rgba(255,255,255,0.7);
      padding-bottom: .8em;
    }
    li a.active {
      border-bottom: 2px solid rgba(255,255,255,1);
    }
  }
  .nav--right {
    float: right;
    position: relative;
    .nav--icons {
      float: right;
      margin-left: 1em;
      margin-top: .4em;
      &:first-of-type {
        margin-top: .9em;
      }
    }
    li {
      border: 0;
      img {
        transition: all 0.2s ease 0s;
      }
      img:hover {
        opacity: 0.7;
      }
    }
    li a:hover {
      img {
        opacity: 0.7;
      }
    }
  }
}

.login-menu {
  position: absolute;
  background-color: #fff;
  top: 4em;
  right: 0em;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(60, 60, 60, .2);
  a, a:visited, button, button:visited {
    color: $base-font-color;
    display: block;
    padding: .8em 1em;
    min-width: 180px;
    border-bottom: 0;
    transition: all 0.2s ease 0s;
  }
  a, a:visited {
    background-color: #F7F7F7;
    &:hover {
      border-bottom: 0;
      background-color: darken(#F7F7F7, 2%);
      padding: .8em 1em;
    }
  }
  button, button:visited {
    border-top: 1px solid lighten($light-text-color, 50%);
    padding: 1em 1em;
    width: 208px;
    &:hover {
      border-bottom: 0;
      background-color: darken(#F7F7F7, 2%);
      -webkit-border-radius: 0 0 4px 4px;
      -moz-border-radius: 0 0 4px 4px;
      border-radius: 0 0 4px 4px;
    }
  }
  li {
    float: none;
    margin-top: 0;
    width: 100%;
    &:first-of-type {
      a {
        -webkit-border-radius: 4px 4px 0 0;
        -moz-border-radius: 4px 4px 0 0;
        border-radius: 4px 4px 0 0;
      }
    }
  }
  ul {
    min-width: 180px;
  }
  .active a{
    border-bottom: 0;
  }
}

.block--campaign {
  width: 48%;
  float: left;
  margin-bottom: 3.5em;
  box-sizing: border-box;
  &:nth-of-type(odd) {
    margin-right: 4%;
  }
  @include media(small-down) {
    width: 100%;
  }
  p {
    min-height: 69px;
  }
  &.card {
    min-height: 270px;
  }
}

.section-sub--right--home {
  width: 22%;
  margin-left: 12%;
  border-left: 1px solid rgba(255, 255, 255, .5);
  @include media(small-down) {
    border-top: 1px solid #fff;
    border-left: 0;
    width: 100%;
    margin-top: 4em;
    padding-top: 4em;
    margin-left: 0;
  }
}

.header--homepage {
  .num--large {
    font-size: 4.25em;
    line-height: 54px;
    font-family: $heading-font-bold;
    @include media(small-down) {
      font-size: 3.5em;
      line-height: 48px;
    }
  }
  .list--block {
    margin-top: 1em;
  }
}

.chart-bar--main {
  li {
    margin-bottom: .2em;
  }
}

.chart-bar--title {
  width: 12%;
  float: left;
  margin-right: .5em;
  font-family: $tertiary-font-family;
  font-size: .86em;
}

.chart-bar--wrapper {
  position: relative;
  display: inline-block;
  background-color: lighten($light-text-color, 50%);
  width: 80%;
  height: 8px;
}

.chart-bar {
  display: inline-block;
  position: absolute;
  background-color: $green-color;
  height: 8px;
  margin-right: .5em;
}

.chart-bar--percent {
  font-family: $tertiary-font-family;
  color: lighten($green-color, 5%);
  font-size: .86em;
  position: absolute;
  right: -3em;
  top: -.5em;
}

.img-about1 {
  max-width: 750px;
  width: 65%;
  @include media(small-down) {
    width: 100%;
  }
}

.img-about2 {
  max-width: 700px;
  margin-right: 5em;
  width: 60%;
  @include media(small-down) {
    width: 100%;
  }
}

.users--country {
  .list--block--sm {
    &:first-of-type {
      a {
        color: darken($blue-purple-color, 25%);
      }
    }
    &:nth-of-type(2) {
      a {
        color: darken($blue-purple-color, 15%);
      }
    }
    &:nth-of-type(3) {
      a {
        color: $blue-purple-color;
      }
    }
    &:nth-of-type(4) {
      a {
        color: lighten($blue-purple-color, 10%);
      }
    }
    &:nth-of-type(5) {
      a {
        color: lighten($blue-purple-color, 18%);
      }
    }
  }
}

.link--login {
  color: #fff;
  transition: all 0.2s ease 0s;
  border-bottom: 2px solid rgba(255,255,255,0);
  padding: 0 .5em 1.4em;
}

.link--login:hover {
  border-bottom: 2px solid rgba(255,255,255,.8);
  padding-bottom: .8em;
}

.active .link--login {
  padding-bottom: .8em;
  border-bottom: 2px solid rgba(255,255,255,.4);
}

footer {
  background-color: darken($med-text-color, 15%);
  color: $background-color-light;
  font-family: $tertiary-font-family;
  text-transform: uppercase;
  line-height: 2;
  padding: 2em;
  .row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // padding: 2em 0;
    margin: 0 auto;
    @include media(small-up) {
      flex-direction: row;
      align-items: center;
    }
  }
  .footer__logo{
    max-height: 5em;
    mix-blend-mode: luminosity;
  }
}
.nav--footer {
  display: flex;
  flex-direction: column;
  color: #fff;
  margin-bottom: 1em;
  .logo {
    font-size: 1.5em;
    margin-bottom: .5em;
    border-bottom: 1px solid #fff;
  }
  li {
    padding: 0;
    margin: 0;
  }
}
