/* Colors
   ========================================================================== */
/* Typography
   ========================================================================== */
@font-face {
  font-family: 'CrimsonText-reg';
  src: url("fonts/CrimsonText-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'CrimsonText-semi';
  src: url("fonts/CrimsonText-SemiBold.ttf") format("truetype"); }

@font-face {
  font-family: 'CrimsonText-bold';
  src: url("fonts/CrimsonText-Bold.ttf") format("truetype"); }

@font-face {
  font-family: 'Heebo-light';
  src: url("fonts/Heebo-Light.ttf") format("truetype"); }

@font-face {
  font-family: 'Heebo-reg';
  src: url("fonts/Heebo-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'Heebo-bold';
  src: url("fonts/Heebo-Bold.ttf") format("truetype"); }

@font-face {
  font-family: 'Abel';
  src: url("fonts/Abel-Regular.ttf") format("truetype"); }

/* Rows */
/* Media queries */
/* ==========================================================================
   Functions
   ========================================================================== */
/* Range function
   ========================================================================== */
/**
 * Define ranges for various things, like media queries.
 */
/* ==========================================================================
   Media queries
   ========================================================================== */
.sidebar {
  width: 20%;
  margin-right: 5%;
  float: left; }
  @media all and (max-width: 543px) {
    .sidebar {
      float: none;
      width: 100%;
      margin-right: 0%; } }

fieldset {
  margin-bottom: 2em; }
  fieldset legend {
    font-family: "Heebo-bold", "Helvetica Neue", Helvetica, Arial, sans-serif; }
  fieldset label {
    display: block;
    margin-bottom: .5em; }
  @media all and (max-width: 543px) {
    fieldset {
      float: left;
      width: 45%; }
      fieldset:first-of-type {
        margin-right: 5%; } }

.content--with-sidebar {
  width: 75%;
  float: left; }
  @media all and (max-width: 543px) {
    .content--with-sidebar {
      width: 100%;
      float: none;
      clear: both; } }

.campagin-body-header .list--horizontal {
  margin-bottom: 2em; }
  .campagin-body-header .list--horizontal li {
    margin-right: 0em;
    margin-left: 3em; }

.campagin-body-header .num--large {
  font-size: 3em; }

.card--wrapper {
  width: 45%;
  display: block;
  float: left; }
  .card--wrapper:nth-of-type(odd) {
    margin-right: 4%; }
  @media all and (max-width: 991px) {
    .card--wrapper {
      width: 48.5%; }
      .card--wrapper:nth-of-type(odd) {
        margin-right: 3%; } }
  @media all and (max-width: 799px) {
    .card--wrapper {
      width: 100%; }
      .card--wrapper:nth-of-type(odd) {
        margin-right: 0; } }

.card {
  background-color: #fff;
  border: 1px solid #e2e2e2;
  margin-bottom: 2.5em;
  min-height: 434px;
  box-shadow: 0 2px 5px rgba(60, 60, 60, 0.07);
  transition: all 0.4s ease 0s;
  position: relative; }
  @media all and (max-width: 991px) {
    .card {
      min-height: 440px; } }
  .card .header--small {
    max-width: 100%; }
  .card .num--large {
    font-size: 1.5em;
    display: inline-block;
    margin-right: .3em; }
  .card .descriptor-chart {
    margin-right: 1.5em; }
  .card .card-content {
    padding: 2em 2.2em 1.9em; }
    @media all and (max-width: 991px) {
      .card .card-content {
        padding: 2em 1.5em 1.9em; } }
  .card .card-stats {
    margin-top: 2em;
    color: #6F6F6F;
    position: absolute;
    bottom: 1.8em; }
    .card .card-stats .num--large {
      color: #8BC544; }
  .card .map {
    background-color: #6F6F6F;
    height: 9em;
    margin-bottom: 1em; }
  .card:hover {
    margin-top: -.5em;
    margin-bottom: 3em;
    box-shadow: 0 4px 8px rgba(60, 60, 60, 0.1); }

.description--project {
  color: #6F6F6F;
  margin-bottom: .7em;
  display: block; }

.map-campaign-lg {
  width: 90%;
  margin-left: 10%;
  height: 400px; }

.map-campaign-sm {
  margin-left: 0;
  height: 140px; }
  @media all and (max-width: 991px) {
    .map-campaign-sm {
      height: 110px; } }

.Campaigns .text-body p {
  width: 100%; }

.Campaigns .text-body hr {
  visibility: hidden; }

.Campaigns .text-body a, .Campaigns .text-body a:visited {
  color: #22BDC1; }

.Campaigns .text-body li {
  margin-bottom: .5em; }

.Campaigns .text-body ul {
  margin: .7em 0 1em; }
  .Campaigns .text-body ul li {
    list-style-type: circle;
    margin-left: 3em; }

.Campaigns .text-body .list--two-column {
  margin-bottom: 3em; }

.sidebar .input-range {
  width: 85%;
  margin-left: .5em;
  margin-top: 1em; }

.sidebar .input-range__slider {
  background: #22BDC1;
  border: 1px solid #22BDC1;
  width: .7em;
  height: .7em;
  top: 70%;
  margin-top: -0.5rem; }

.sidebar .input-range__track--active {
  background: #22BDC1; }

.sidebar .input-range__label--value {
  color: #22BDC1; }
