@import 'settings/variables.scss';
@import 'settings/mixins.scss';
/* =
SASS Variable to randomly generate header background background-image on site build
=*/
$nth: random(4);


body {
  -webkit-print-color-adjust: exact;
  background: $background-color-light;
  color: $base-font-color;
  font-size: 14px;
  line-height: 20px;
  font-family: $base-font-regular;
  font-style: $base-font-style;
  margin: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
//sections //
.clearfix {
  &:before,
  &:after {
    content: " ";
    display: table;
    width: 100%;
    order: 2;
  }
  &:after {
    clear: both;
  }
}

.row {
  @extend .clearfix;
  max-width: $row-max-width;
  padding: 0 64px;
  display: block;
  width: auto;
  margin: 0 auto;
  @include media(medium-down) {
    padding: 0 40px;
  }
  @include media(small-down) {
    padding: 0 20px;
  }
}

.text-body {
  p {
    font-size: 1.08em;
    width: 80%;
  }
  .text-body--large {
    font-size: 1.85em;
    line-height: 1.3em;
    width: 64%;
    @include media(small-down) {
      width: 100%;
      margin: 0;
    }
  }
  .text-body--med {
    font-size: 1.3em;
  }
  .width--sm {
    width: 30%;
    @include media(small-down) {
      width: 100%;
    }
  }
}

.header--internal {
  padding-top: 8.5em;
  padding-bottom: .5em;
  h1 {
    margin-bottom: 0;
  }
}

.header--internal--green {
  background: linear-gradient(to bottom, rgba(#2CAF80, .8), rgba(#56D483, .9)), url($appUrlFinal + "static/backgrounds/homepage-background-#{$nth}.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-origin: top;
  color: white;
  border-bottom: 1px solid darken($base-color, 5%);
  padding-bottom: 1em;
  padding-top: 9em;
  position: relative;
  .heading, h1, h2, h3, h4, h5, h6 {
    color: white;
  }
  h1 {
    margin-bottom: 0;
  }
  .section-sub--left {
    bottom: .1em;
  }
  .descriptor-chart {
    color: rgba(255, 255, 255, .85);
  }
  .list-definition--floating {
    color: rgba(255, 255, 255, .85);
    dt {
      &:nth-of-type(4) {
        margin-left: .5em;
      }
    }
  }
  .list--two-column {
    color: #FFFFFF;
    margin-bottom: .4em;
    strong {
      display: block;
      font-size: 1.125rem;
      line-height: 1;
      margin-bottom: .25rem;
      color: rgba(255, 255, 255, .85);
      @include media(medium-up) {
        font-size: 1.5rem;
      }
    }
    span {
      text-transform: uppercase;
      font-size: .75rem;
      line-height: 1rem;
      display: block;
    }
  }
  .link--large,
  .link--large:visited {
    color: #FFFFFF;
  }
}

.section-sub--left {
  width: 65%;
  float: left;
  @include media(small-down) {
    width: 100%;
    float: none;
  }
}

.section-sub--right {
  margin-left: auto;
  text-align: right;
  align-self: flex-end;
  li {
    margin-left: 2.5em;
  }
  @include media(small-down) {
    width: 100%;
    text-align: left;
    clear: both;
    li {
      margin-right: 1.8em;
      margin-left: 0em;
      margin-bottom: .5em;
      display: inline-block;
    }
  }
}

.section-sub--right--user {
  margin-top: 1.7em;
}

.header--internal {
  .section-sub--right {
    @include media(small-down) {
      padding-top: 2em;
      margin-top: 2em;
      border-top: 1px solid rgba(255,255,255, .4);
    }
  }
}

.section-width-sixty {
  width: 60%;
  @include media(small-down) {
    width: 100%;
  }
}

.section-width-forty {
  width: 40%;
  @include media(small-down) {
    width: 100%;
  }
}

.section-width-thirty {
  width: 35%;
  @include media(small-down) {
    width: 100%;
  }
}

.section-width-twenty {
  width: 20%;
  @include media(small-down) {
    width: 100%;
  }
}

.section-width-eighty {
  width: 75%;
  @include media(small-down) {
    width: 100%;
  }
}

.section-width-fifty-plus {
  width: 50%;
}

.section-width-fifty-minus {
  width: 50%;
}

section {
  padding: 5em 0;
  &~section {
    padding-bottom: 0;
  }
  &:last-of-type {
    padding-bottom: 5em;
  }
}

.section-first {
  padding: 3em 0 5em;
}

.section-first--sm {
  padding: 1em 0 5em;
}

.section-sub {
  padding: 0em 0 5em;
}

.section-sub--tertiary {
  margin-bottom: 2em;
}

.section--tertiary {
  background-color: $background-color-light;
  border-top: 1px solid darken($background-color-light, 4%);
  border-bottom: 1px solid darken($background-color-light, 4%);
}

.section--dark {
  border: 1rem solid $background-color-dark;
  padding-bottom: 5em;
}

.width--shortened {
  width: 80%;
  margin: 0 auto;
  @include media(medium-down) {
    width: 100%;
  }
}

.header--page {
  border-bottom: 3px solid darken($background-color-light, 5%);
}

.header--homepage {
  margin-top: -2em;
  margin-bottom: 1em;
  background: linear-gradient(to bottom, rgba(#2CAF80, 1), rgba(#56E483, .7)), url($appUrlFinal + "static/backgrounds/homepage-background-#{$nth}.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-origin: top;
  color: #fff;
  padding: 10em 0 3em;
  @include media(medium-up) {
    padding: 12em 0 6em;
    margin-top: -6em;
  }
  h1 {
    color: #fff;
  }
  p {
    color: rgba(255, 255, 255, .8);
    font-size: 1.3em;
  }
  .link--large, .link--large:visited{
    color: #fff;
    border-bottom: 1px solid #fff;
    display: inline-block;
    margin-top: .5em;
    &:hover {
      color: darken(#fff, 7%);
      border-bottom: 1px solid darken(#fff, 7%);
    }
  }
}
.home>section:last-of-type .link--large {
  display: inline-block;
  margin-top: 2.5em;
}
.margin-top-sm {
  margin-top: .3em;
}

/* ========================================================================
   WIDGETS - flex containers for cards and general site use
==========================================================================*/

.widget-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  @include media(medium-up) {
    flex-direction: row;
    margin-bottom: 2em;
    flex-wrap: wrap;
  }
  .widget {
    flex: 1;
    box-sizing: border-box;
    @include media(medium-up) {
      margin-right: 1em;
      &:last-of-type {
        margin-right: 0;
      }
    }
    @include media(large-up) {
      margin-right: 2em;
      &:last-of-type {
        margin-right: 0;
      }
    }
    &.Badge-Container {
      margin-right: 0;
    }
    &-25 {
      width: 100%;
      @include media(medium-up) {
        flex: 0 0 calc(25% - 1em);
      }
    }
    &-33 {
      width: 100%;
      @include media(medium-up) {
        flex: 0 0 calc(33.33% - 1em);
      }
    }
    &-50 {
      width: 100%;
      @include media(medium-up) {
        flex: 0 0 calc(50% - 1em);
      }
    }
    &-66 {
      width: 100%;
      @include media(medium-up) {
        flex: 0 0 calc(66.66% - 1em);
      }
    }
    &-75 {
      width: 100%;
      @include media(medium-up) {
        flex: 0 0 calc(75% - 1em);
      }
    }
    &-100 {
      width: 100%;
      @include media(medium-up) {
        flex: 100%;
      }
    }
  }
}
[class^="widget-"] ~ [class^="widget-"] {
  @include media(small-down){
    margin-top: 2em;
  }
}
.widget {
  background: #FFFFFF;
  box-shadow: 0 2px 14px 0 rgba(132,132,132,0.13);
  padding: 2em 1em;
  margin: 1em 0;
}
.home .widget {
  margin: 0 auto;
  box-sizing: border-box;
}

/* =========================================================================
   SITE BANNERS - In footer
==========================================================================*/
.banner {
  .row {
      padding-top: 8vw;
      padding-bottom: 8vw;
  }
  h1,
  h2,
  p,
  a,
  a:visited {
    color: #FFFFFF;
    max-width: none;
  }
  &__badges {
    background: $blue-purple-color;
    @include media (medium-up) {
      background: linear-gradient(to right, $blue-purple-color 20%, transparent), url($appUrlFinal + "static/Banner-badges.png"), $blue-purple-color;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: right;
    }
  }
  &__signup {
    background: $base-color;
    @include media (medium-up) {
      background: linear-gradient(to right, $base-color 50%, transparent), url($appUrlFinal + "static/Banner-signup.png"), $base-color;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: right;
    }
  }
  &--content {
    p {
      font-size: 1.3em;
    }
    @include media (medium-up) {
      width: 32vw;
      position: relative;
      z-index: 10;
    }
  }
}
/* ==========================================================================
   CUSTOM TYPOGRAPHY
========================================================================== */
.refresh {
  font-style: italic;
  margin-top: 0.75rem;
}
mark {
  background-color: inherit;
  color: $base-color;
}
.heading, h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font-bold;
  font-weight: inherit;
  margin-top: 0;
  color: $base-header-color;
  font-weight: inherit;
}

.header--xxlarge {
  font-size: 4.2em;
  line-height: 1.1em;
  max-width: 100%;
  @include media(medium-down) {
    font-size: 2.8em;
  }
  @include media(medium-down) {
    font-size: 2.7em;
  }
}

.header--xlarge {
  font-size: 2.857em;
  line-height: 1.4em;
  @include media(medium-down) {
    font-size: 2.4em;
  }
  @include media(small-down) {
    font-size: 2.2em;
  }
}

.header--large {
  font-size: 1.857em;
  line-height: 1.3em;
  text-transform: uppercase;
  @include media(medium-down) {
    font-size: 2em;
  }
  @include media(small-down) {
    font-size: 1.8em;
  }
}

.header--medium {
  font-size: 1.429em;
  line-height: 1.4em;
  @include media(medium-down) {
    font-size: 1.8em;
  }
  @include media(small-down) {
    font-size: 1.5em;
  }
}

.header--small {
  font-size: 1.214em;
  line-height: 1.5em;
  @include media(medium-down) {
    font-size: 1.2em;
  }
}

.header--xsmall {
  font-size: 1em;
}

.description--header {
  font-size: 1.15em;
  line-height: 1.5em;
}

.header--with-description {
  margin-bottom: .2em;
  word-break: break-word;
}

.header--with-description-lg {
  margin-bottom: .5em;
}

.header--with-description-xlg {
  margin-bottom: .8em;
}

.header--underlined, .header--underlined:visited {
  border-bottom: 1px solid lighten($light-text-color, 40%);
  color: $dark-text-color;
  transition: all 0.2s ease 0s;
  &:hover {
    color: $blue-color;
  }
}

//buttons

.button{
  padding: .7em 2em .5em;
  border: 2px solid rgba(255, 255, 255, .8);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #fff;
  font-family: $heading-font-family;
  display: inline-block;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  &:hover {
    background-color: #fff;
    color: $base-color;
  }
}

.button--secondary {
  cursor: pointer;
  border: 1px solid $base-color;
  font-size: $base-font-size;
  background-color: white;
  color: $base-color;
  transition: color 300ms ease-in-out;

  &:hover,
  &:active {
    background-color: inherit;
    color: darken($base-color, 10%);
  }
}

.button--destroy {
  cursor: pointer;
  border-color: #CA4F4F;
  color: #CA4F4F;
  background-color: white;

  &:hover,
  &:active {
    background-color: #CA4F4F;
    color: white;
  }
}
.button--info,
.admin .button.button--info {
  border-color: $blue-color;
  color: $blue-color;
  background-color: white;
  &:hover,
  &:active {
    background-color: $blue-color;
    color: white;
  }
}

.button--link {
  background-color: transparent;
  border: 0;
  color: $light-text-color;
  font-family: $tertiary-font-family;
  padding: 0;
  transition: color 300ms ease-in-out;

  &:hover,
  &:active {
    background-color: inherit;
    color: $med-text-color;
  }
}

.page-actions {
  display: flex;
  flex-flow: column wrap;
  .button {
    margin: 1rem 0 0;
  }
  @include media(medium-up) {
    flex-flow: row;
  }
}
.widget-33.page-actions {
  flex: 1;
}
//HEADER INTERNAL//
.header--internal {
  .button{
    margin-top: 2em;
  }
}

.header--page {
  .row {
    display: flex;
    justify-content: space-between;
    &:before,
    &:after {
      display: none;
      content: "";
    }
    @include media(small-down) {
      flex-wrap: wrap;
    }
  }
  .button, .button:visited {
    border-color: #fff;
    background-color: transparent;
    color: #fff;
    font-size: 14px;
    display: inline-block;
    &~.button {
      @include media(medium-up) {
        margin-left: .5em;
      }
    }
    @include media(medium-only) {
      padding: .7em 1.2em .5em;
    }
    &:hover {
      color: $base-color;
      background-color: #fff;
    }
  }
}

//Links
a, a:visited {
  text-decoration: none;
  transition: .3s color;
  &.disabled {
    color: lighten($light-text-color, 40%);
    cursor: not-allowed;
  }
}

.link--large, .link--large:visited {
  text-transform: uppercase;
  border-bottom: 1px solid $blue-color;
  font-size: 1.2em;
  font-family: $tertiary-font-family;
  color: $blue-color;
  transition: all 0.2s ease 0s;
  padding-bottom: 4px;
  &:hover {
    color: darken($blue-color, 10%);
    border-bottom: 1px solid darken($blue-color, 10%);
  }
  &.disabled {
    color: lighten($light-text-color, 40%);
    cursor: not-allowed;
  }
}

.link--normal, .link--normal:visited {
  color: $blue-color;
  transition: all 0.2s ease 0s;
  padding-bottom: 1px;
  &:hover {
    border-bottom: 1px solid darken($blue-color, 25%);
    color: darken($blue-color, 25%);
  }
  &.disabled {
    color: lighten($light-text-color, 40%);
    cursor: not-allowed;
  }
}

.link--white, .link--white:visited {
  color: #fff;
}

p {
  margin: 0 0 1.5em;
  line-height: 1.7em;
  color: $med-text-color;
}

.descriptor-chart {
  font-family: $tertiary-font-family;
}

.num--large {
  font-size: 3.2em;
  font-family: $heading-font-regular;
  display: block;
  line-height: 38px;
  margin-top: .2em;
  @include media(small-down) {
    font-size: 2.2em;
    line-height: 32px;
  }
}



//lists//

ul, ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

dl {
  font-family: $tertiary-font-family;
  margin-top: 0;
  dt, dd {
    display: inline-block;
    margin-bottom: .2em;
    float: left;
  }
  dd {
    margin-left: 1em;
  }
}

.list-definition--floating {
  dd {
    width: 30%;
  }
  dt {
    &:nth-of-type(3) {
      clear: left;
      display: block;
    }
    @include media(small-down) {
      clear: left;
      margin-bottom: .5em;
    }
  }
  @include media(small-down) {
    clear: both;
    margin-bottom: 2em;
  }
}

.list-label {
  margin: 0 0.5rem 0.25rem 0;
}

.list--two-column {
  width: 100%;
  color: $light-text-color;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  @include media (medium-up) {
    flex-flow: row wrap;
  }
  li {
    margin: 0 0 0.5rem;
    @include media (medium-up) {
      flex: 50%;
    }
    @include media (xlarge-up) {
      flex: 1;
    }
  }
}
.header--internal--green .list--two-column li {
  font-family: $heading-font-regular;
}

.list--horizontal {
  li {
    margin-right: 2.5em;
  }
}

.pagination {
  clear: both;
  margin-top: 1.5em;
  text-align: center;
  padding-right: 8%;
  font-family: $heading-font-regular;
  li {
    display: inline-block;
    margin: 0 .4em;
  }
  a, a:visited {
    padding: 0 .2em;
    color: $med-text-color;
    font-size: 1em;
    &:hover {
      color: $blue-color;
    }
  }
  .active{
    a, a:visited {
      color: $blue-color;
      border-bottom: 1px solid $blue-color;
    }
  }

}


.nav-tab {
  font-family: $heading-font-family;
  border-bottom: 1px solid darken($background-color-light, 10%);
  margin-bottom: 4em;
  color: lighten($light-text-color, 15%);
  li {
    padding: 0 .5em .5em;
    margin-right: 1em;
    transition: all 0.4s ease 0s;
    border-bottom: 3px solid $background-color-light;
    cursor: pointer;
    &:hover {
      color: $med-text-color;
    }
  }
  a {
    color: $med-text-color;
  }
  .active {
    border-bottom: 3px solid $blue-color;
    a {
      color: $dark-text-color;
    }
  }
}

.list--inline {
  display: inline-block;
}

.list--block {
  margin-bottom: 2.5em;
}

.list--block--sm {
  margin-bottom: 1.2em;
}


//forms//

fieldset {
  border: 0;
  padding: 0;
  margin: 0 0 2em;
}
legend {
  margin-bottom: .5em;
  padding: 0;
  font-family: $heading-font-bold;
}

.input--text {
  padding: .7em;
  width: 100%;
}

.checkbox {
  margin-right: 0.7rem;
}
.checkbox input[type="checkbox"] {
    opacity: 0;
}

.checkbox label {
    position: relative;
    display: inline-block;
    padding-left: 1rem;
}

.checkbox label::before,
.checkbox label::after {
    position: absolute;
    content: "";
    display: inline-block;
}

.checkbox label::before{
    height: 16px;
    width: 16px;
    border: 1px solid $base-font-color;
    left: -12px;
    top: 2px;
}

.checkbox label::after {
  background-color: $green-color;
  height: 10px;
  width: 10px;
  left: -9px;
  top: 5px;
}

.checkbox input[type="checkbox"] + label::after {
    content: none;
}

.checkbox input[type="checkbox"]:checked + label::after {
    content: "";
}

.checkbox input[type="checkbox"]:focus + label::before {
    outline: rgba(59, 153, 252, 0.25) auto 4px;
}

.search {
  position: relative;
}

.search-icon {
  position: absolute;
  background-image: url($appUrlFinal + "static/magnifier-left.svg");
  content: " ";
  width: 15px;
  height: 15px;
  background-size: 15px 15px;
  top: .8em;
  right: 5%;
  @include media(xsmall-only) {
    right: 2%;
  }
}
form.filters {
  display: flex;
  flex-direction: column;
  @include media(small-only) {
    flex-direction: row;
    margin-bottom: 1em;
    flex-wrap: wrap;
  }
  fieldset {
    width: 100%;
    @include media(small-only) {
      flex: 1;
    }
    &~fieldset {
      @include media(small-only) {
        margin-left: .7em;
      }
    }
  }
  .reset {
    display: inline-block;
    cursor: pointer;
    flex: 100%;
  }
}
/* ==========================================================================
   TABLES
==========================================================================*/

table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  overflow-x: scroll;
  @include media(small-down) {
    font-size: .86em;
  }
  th {
    font-family: $tertiary-font-family;
    text-transform: uppercase;
    color: $base-header-color;
    padding-top: .8em;
    padding-bottom: .8em;
    @include media(small-up) {
      &:first-child {
        padding-left: .8em;
      }
      &:last-child {
        padding-right: .8em;
      }
    }
  }
  tbody {
    font-family: $heading-font-family;
    tr {
      // the borders for the rows were previously set on each cell
      border-bottom: 1px solid lighten($light-text-color, 40%);
      &:first-of-type {
        border-top: 1px solid #555456;
      }
      td:first-child {
        font-family: $heading-font-bold;
        padding-left: .8em;
      }
      td:last-child {
        padding-right: .8em;
      }
    }
  }
  td {
    padding: .9em 4em .8em 0;
    margin: 0;
    @include media(xlarge-up) {
      padding-right: 4em;
    }
    @include media(medium-down) {
      padding-right: 1em;
    }
  }
}

.about--block {
  margin-bottom: 4em;
  p {
    margin-top: 3em;
  }
}

.home-map > .leaflet-container {
  height: 100%;
  background: rgb(222,234,238);
 }

.map-campaign-sm > .leaflet-container {
  height: 100%;
  background: rgb(222,234,238);
 }

.map-lg > .leaflet-container {
  height: 100%;
  background: rgb(222,234,238);
 }

 /* ==========================================================================
    ACCORDION
 ==========================================================================*/

 /* Basic Accordion Styles */
 .accordion {
   /* Checkbox Inputs */
   >input {
     display: none;
   }

   /* Labels */
   >label {
     position: relative;
     display: block;
     transition: all .2s ease-in-out;

     &:after {
       content: '\25BC';
       display: inline-block;
       vertical-align: middle;
       margin-left: 0.5rem;
       margin-top: -0.2rem;
       font-size: 1rem;
       transform: scaleY(1.25) rotate(-90deg);
       transition: transform .4s ease-in-out;
     }
     &:hover {
       color: $base-color;
     }
   }

   input:checked + label {
     &:after {
       transform: scaleX(1.25) rotate(0deg);
     }
   }

   /* Panel Content */
   .accordion__content {
     margin-top: 1rem;
     overflow: hidden;
     max-height: 0em;
     position: relative;
     transition: all .4s cubic-bezier(0.865, 0.140, 0.095, 0.870);
   }
 }

 input[name='accordion-panel']:checked ~ .accordion__content {
   max-height: 50em;
 }

/* ==========================================================================
  Global: Loading
  ========================================================================== */

/**
* "lsk-" prefix stands for "loading skeleton"
*/

.lsk__group {
 margin-bottom: 2rem;

 & > .lsk__item {
   margin-bottom: 0.75rem;
 }
}

.lsk__item {
 display: block;
 height: 1rem;
 width: 100%;
 background: linear-gradient(-90deg, #F0F0F0 0%, #F8F8F8 50%, #F0F0F0 100%);
 background-size: 400% 400%;
 animation: pulse 1.2s ease-in-out 0s infinite alternate;

 &.lsk__item--light {
   background: rgba(#fff, 0.48);
 }
 &.lsk__item--base {
  background: rgba($base-color, 0.48);
 }
}
.lsk__item--medium {
 height: 1.5rem;
}
.lsk__item--large {
 height: 2.25rem;
}
.lsk__item--card {
  height: 6.875rem;
  @include media(large-up) {
    height: 8.75rem
  }
}
.lsk__item--avatar {
  height: 2.5rem;
  border-radius: 100%;
}

.lsk__item--heading {
  background: linear-gradient(-90deg, #F0F0F0 0%, #F8F8F8 50%, #F0F0F0 100%);
  background-size: 400% 400%;
  animation: pulse 1.2s ease-in-out 0s infinite alternate;
    &.lsk__item--light {
     background: rgba(#fff, 0.80);
    }
    &.lsk__item--base {
     background: rgba($base-color, 0.80);
    }
}


@keyframes pulse {
 0% {
   background-position: 0% 0%;
 }
 100% {
   background-position: -135% 0%;
 }
}
