/* Colors
   ========================================================================== */
/* Typography
   ========================================================================== */
@font-face {
  font-family: 'CrimsonText-reg';
  src: url("fonts/CrimsonText-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'CrimsonText-semi';
  src: url("fonts/CrimsonText-SemiBold.ttf") format("truetype"); }

@font-face {
  font-family: 'CrimsonText-bold';
  src: url("fonts/CrimsonText-Bold.ttf") format("truetype"); }

@font-face {
  font-family: 'Heebo-light';
  src: url("fonts/Heebo-Light.ttf") format("truetype"); }

@font-face {
  font-family: 'Heebo-reg';
  src: url("fonts/Heebo-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'Heebo-bold';
  src: url("fonts/Heebo-Bold.ttf") format("truetype"); }

@font-face {
  font-family: 'Abel';
  src: url("fonts/Abel-Regular.ttf") format("truetype"); }

/* Rows */
/* Media queries */
/* ==========================================================================
   Functions
   ========================================================================== */
/* Range function
   ========================================================================== */
/**
 * Define ranges for various things, like media queries.
 */
/* ==========================================================================
   Media queries
   ========================================================================== */
body {
  -webkit-print-color-adjust: exact;
  background: #FFF;
  color: #595757;
  font-size: 14px;
  line-height: 20px;
  font-family: "CrimsonText-reg", Georgia, serif;
  font-style: normal;
  margin: 0; }

.clearfix:before, .row:before, .clearfix:after, .row:after {
  content: " ";
  display: table; }

.clearfix:after, .row:after {
  clear: both; }

.row {
  max-width: 1280px;
  padding: 0 64px;
  display: block;
  width: auto; }
  @media all and (max-width: 991px) {
    .row {
      padding: 0 40px; } }
  @media all and (max-width: 799px) {
    .row {
      padding: 0 20px; } }

.text-body p {
  font-size: 1.08em;
  width: 80%; }

.text-body .text-body--large {
  font-size: 1.85em;
  line-height: 1.3em;
  width: 64%; }
  @media all and (max-width: 799px) {
    .text-body .text-body--large {
      width: 100%;
      margin: 0; } }

.text-body .text-body--med {
  font-size: 1.3em; }

.text-body .width--sm {
  width: 30%; }
  @media all and (max-width: 799px) {
    .text-body .width--sm {
      width: 100%; } }

.header--internal {
  padding-top: 8.5em;
  padding-bottom: .5em; }
  .header--internal h1 {
    margin-bottom: 0; }

.header--internal--green {
  background-color: #4FCA9E;
  color: white;
  border-bottom: 1px solid #3bc493;
  padding-bottom: 1em;
  padding-top: 9em;
  position: relative; }
  .header--internal--green .heading, .header--internal--green h1, .header--internal--green h2, .header--internal--green h3, .header--internal--green h4, .header--internal--green h5, .header--internal--green h6 {
    color: white; }
  .header--internal--green h1 {
    margin-bottom: 0; }
  .header--internal--green .section-sub--left {
    position: absolute;
    bottom: .1em; }
  .header--internal--green .descriptor-chart {
    color: rgba(255, 255, 255, 0.85); }
  .header--internal--green .list-definition--floating {
    color: rgba(255, 255, 255, 0.85); }
    .header--internal--green .list-definition--floating dt:nth-of-type(4) {
      margin-left: .5em; }
  .header--internal--green .list--two-column {
    width: 60%;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: .4em; }

.section-sub--left {
  width: 65%;
  float: left; }
  @media all and (max-width: 799px) {
    .section-sub--left {
      width: 100%;
      float: none; } }

.section-sub--right {
  width: 35%;
  float: right;
  text-align: right; }
  .section-sub--right li {
    margin-left: 2.5em; }
  @media all and (max-width: 799px) {
    .section-sub--right {
      width: 100%;
      float: none;
      text-align: left;
      clear: both; }
      .section-sub--right li {
        margin-right: 1.8em;
        margin-left: 0em;
        margin-bottom: .5em;
        display: inline-block; } }

.section-sub--right--user {
  margin-top: 1.7em; }

@media all and (max-width: 799px) {
  .header--internal .section-sub--right {
    padding-top: 2em;
    margin-top: 2em;
    border-top: 1px solid rgba(255, 255, 255, 0.4); } }

.side-by-side {
  float: left; }
  @media all and (max-width: 799px) {
    .side-by-side {
      float: none; } }

.section-width--first {
  margin-right: 4%; }

.section-width-sixty {
  width: 60%; }
  @media all and (max-width: 799px) {
    .section-width-sixty {
      width: 100%; } }

.section-width-forty {
  width: 40%; }
  @media all and (max-width: 799px) {
    .section-width-forty {
      width: 100%; } }

.section-width-thirty {
  width: 35%; }
  @media all and (max-width: 799px) {
    .section-width-thirty {
      width: 100%; } }

.section-width-twenty {
  width: 20%; }
  @media all and (max-width: 799px) {
    .section-width-twenty {
      width: 100%; } }

.section-width-eighty {
  width: 75%; }
  @media all and (max-width: 799px) {
    .section-width-eighty {
      width: 100%; } }

.section-width-fifty-plus {
  width: 50%; }

.section-width-fifty-minus {
  width: 50%; }

section {
  padding: 5em 0; }

.section-first {
  padding: 3em 0 5em; }

.section-first--sm {
  padding: 1em 0 5em; }

.section-sub {
  padding: 0em 0 5em; }

.section-sub--tertiary {
  margin-bottom: 2em; }

.section--tertiary {
  background-color: #FBFBFB;
  border-top: 1px solid #f1f1f1;
  border-bottom: 1px solid #f1f1f1; }

.width--shortened {
  width: 80%;
  margin: 0 auto; }
  @media all and (max-width: 991px) {
    .width--shortened {
      width: 100%; } }

.header--page {
  border-bottom: 3px solid #eeeeee; }

.header--homepage {
  margin-top: -6em;
  background: url("../assets/homepage-background.jpg") no-repeat center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #fff; }
  @media all and (max-width: 991px) {
    .header--homepage {
      margin-top: -5em; } }
  .header--homepage h1 {
    color: #fff; }
  .header--homepage p {
    color: rgba(255, 255, 255, 0.8);
    font-size: 1.3em;
    margin-top: -5px; }
  .header--homepage .link--large, .header--homepage .link--large:visited {
    color: #fff;
    border-bottom: 1px solid #fff;
    display: inline-block;
    margin-top: .5em; }
    .header--homepage .link--large:hover, .header--homepage .link--large:visited:hover {
      color: #ededed; }

.overlay-dark {
  display: block;
  padding: 12em 0 9em;
  width: 100%;
  height: 100%; }
  @media all and (max-width: 991px) {
    .overlay-dark {
      padding: 10em 0 3em; } }

.margin-top-sm {
  margin-top: .3em; }

.heading, h1, h2, h3, h4, h5, h6 {
  font-family: "Heebo-bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-top: 0;
  color: #292929;
  max-width: 80%; }

.header--xxlarge {
  font-size: 4.2em;
  line-height: 1.1em;
  max-width: 100%; }
  @media all and (max-width: 991px) {
    .header--xxlarge {
      font-size: 2.8em; } }
  @media all and (max-width: 991px) {
    .header--xxlarge {
      font-size: 2.7em; } }

.header--xlarge {
  font-size: 2.857em;
  line-height: 1.4em; }
  @media all and (max-width: 991px) {
    .header--xlarge {
      font-size: 2.4em; } }
  @media all and (max-width: 799px) {
    .header--xlarge {
      font-size: 2.2em; } }

.header--large {
  font-size: 1.857em;
  line-height: 1.3em;
  text-transform: uppercase; }
  @media all and (max-width: 991px) {
    .header--large {
      font-size: 2em; } }
  @media all and (max-width: 799px) {
    .header--large {
      font-size: 1.8em; } }

.header--medium {
  font-size: 1.429em;
  line-height: 1.4em; }
  @media all and (max-width: 991px) {
    .header--medium {
      font-size: 1.8em; } }
  @media all and (max-width: 799px) {
    .header--medium {
      font-size: 1.5em; } }

.header--small {
  font-size: 1.214em;
  line-height: 1.5em; }
  @media all and (max-width: 991px) {
    .header--small {
      font-size: 1.2em; } }

.header--xsmall {
  font-size: 1em; }

.description--header {
  font-size: 1.15em;
  line-height: 1.5em; }

.header--with-description {
  margin-bottom: .2em; }

.header--with-description-lg {
  margin-bottom: .5em; }

.header--with-description-xlg {
  margin-bottom: .8em; }

.header--underlined, .header--underlined:visited {
  border-bottom: 1px solid #d5d5d5;
  color: #292929;
  transition: all 0.2s ease 0s; }
  .header--underlined:hover, .header--underlined:visited:hover {
    border-bottom: 3px solid #22BDC1; }

.button, .button:visited {
  padding: .7em 2em .5em;
  border: 2px solid rgba(255, 255, 255, 0.8);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #fff;
  font-family: "Heebo-reg", "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: inline-block;
  text-transform: uppercase; }
  .button:hover, .button:visited:hover {
    background-color: #fff;
    color: #4FCA9E; }

.header--internal .button {
  margin-top: 2em; }

a, a:visited {
  text-decoration: none;
  transition: .3s color; }

.link--large, .link--large:visited {
  text-transform: uppercase;
  border-bottom: 1px solid #22BDC1;
  font-size: 1.2em;
  font-family: "Abel", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #22BDC1;
  transition: all 0.2s ease 0s;
  padding-bottom: 4px; }
  .link--large:hover, .link--large:visited:hover {
    color: #1a9396; }

.link--normal, .link--normal:visited {
  color: #22BDC1;
  transition: all 0.2s ease 0s;
  padding-bottom: 1px; }
  .link--normal:hover, .link--normal:visited:hover {
    border-bottom: 1px solid #0b3e3f; }

.link--white, .link--white:visited {
  color: #fff; }

p {
  margin: 0 0 1.5em;
  line-height: 1.7em;
  color: #595757; }

.descriptor-chart {
  font-family: "Abel", "Helvetica Neue", Helvetica, Arial, sans-serif; }

.num--large {
  font-size: 3.2em;
  font-family: "Heebo-reg", "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: block;
  line-height: 38px;
  margin-top: .2em; }
  @media all and (max-width: 799px) {
    .num--large {
      font-size: 2.2em;
      line-height: 32px; } }

ul, ol {
  list-style-type: none;
  margin: 0;
  padding: 0; }

dl {
  font-family: "Abel", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-top: 0; }
  dl dt, dl dd {
    display: inline-block;
    margin-bottom: .2em;
    float: left; }
  dl dd {
    margin-left: 1em; }

.list-definition--floating dd {
  width: 30%; }

.list-definition--floating dt:nth-of-type(3) {
  clear: left;
  display: block; }

@media all and (max-width: 799px) {
  .list-definition--floating dt {
    clear: left;
    margin-bottom: .5em; } }

@media all and (max-width: 799px) {
  .list-definition--floating {
    clear: both;
    margin-bottom: 2em; } }

.list-label {
  margin-right: .5em;
  font-family: "Heebo-bold", "Helvetica Neue", Helvetica, Arial, sans-serif; }

.list--two-column {
  width: 100%;
  color: #6F6F6F;
  font-size: .9em; }
  .list--two-column li {
    margin-bottom: .3em;
    float: left;
    margin-right: 3em; }

.list--horizontal li {
  margin-right: 2.5em; }

.pagination {
  clear: both;
  margin-top: 1.5em;
  text-align: center;
  padding-right: 8%; }
  .pagination li {
    display: inline-block;
    margin: 0 .4em; }
  .pagination a, .pagination a:visited {
    padding: 0 .2em;
    color: #595757;
    font-size: 1.2em; }
    .pagination a:hover, .pagination a:visited:hover {
      color: #22BDC1; }
  .pagination .active a, .pagination .active a:visited {
    color: #22BDC1;
    border-bottom: 1px solid #22BDC1; }
  .pagination .disabled a, .pagination .disabled a:visited {
    color: #d5d5d5; }

.nav-tab {
  font-family: "Heebo-reg", "Helvetica Neue", Helvetica, Arial, sans-serif;
  border-bottom: 1px solid #e2e2e2;
  margin-bottom: 4em;
  color: #959595; }
  .nav-tab li {
    padding: 0 .5em .5em;
    margin-right: 1em;
    transition: all 0.4s ease 0s;
    border-bottom: 3px solid #FBFBFB;
    cursor: pointer; }
    .nav-tab li:hover {
      color: #595757; }
  .nav-tab a {
    color: #595757; }
  .nav-tab .active {
    border-bottom: 3px solid #22BDC1; }
    .nav-tab .active a {
      color: #292929; }

.list--inline {
  display: inline-block; }

.list--block {
  margin-bottom: 2.5em; }

.list--block--sm {
  margin-bottom: 1.2em; }

fieldset {
  border: 0;
  padding: 0; }

legend {
  margin-bottom: .5em; }

.input--text {
  padding: .7em;
  width: 80%; }

.checkbox {
  margin-right: .7em; }

.search {
  position: relative; }

.search-icon {
  position: absolute;
  background-image: url("../assets/magnifier-left.svg");
  content: " ";
  width: 15px;
  height: 15px;
  background-size: 15px 15px;
  top: .6em;
  right: 15%; }

table {
  width: 100%;
  text-align: left; }
  table th {
    font-family: "Abel", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    padding-bottom: .5em; }
  table td {
    padding: .8em 0;
    margin: 0;
    border-bottom: 1px solid #efefef; }

.about--block {
  margin-bottom: 4em; }
  .about--block p {
    margin-top: 3em; }
