@import 'settings/variables.scss';
@import 'settings/mixins.scss';

@media print {
  @page {
      size: landscape;
      background: #ffffff;
      size: A4 landscape;
    	max-height:100%;
    	max-width:100%;
    }
  .print-badges__certificate {
    position: relative;
    padding: 5em;
    &:before {
      border-top: 5px solid $base-color;
      border-bottom: 5px solid $base-color;
      position: absolute;
      top: 0em;
      bottom: 1em;
      left: 1em;
      right: 1em;
      content: '';
      display: block;
      transform: scale(.75, 1);
    }
    &:after {
      border-left: 5px solid $base-color;
      border-right: 5px solid $base-color;
      position: absolute;
      top: 1em;
      bottom: 1em;
      left: 1em;
      right: 1em;
      content: '';
      display: block;
      transform: scale(1, .75);
    }
    .print-badges--title {
      font-family: $heading-font-family;
      font-size: 4em;
      color: $dark-text-color;
    }
    .print-badges--subtitle {
      font-family: $tertiary-font-family;
      text-transform: uppercase;
      font-size: 1.25rem;
      letter-spacing: 2px;
      color: $med-text-color;
    }
  }
  .print-badges__badge-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    > figure {
      flex-basis: 25%;
      flex-grow: 1;
      margin: 0;
      padding: 2em;
      &:last-of-type {
        margin-right: auto;
      }
      img {
        width: 100%;
      }
    }
  }
}
